#categories-component{
   margin-top: 25px;
    width: 100%;
}

#categories-md-list{
    margin: auto;
    width: 90%;
}

#task-title{
    width: 1px;
    margin: 2px;
    font-weight: bold;
    border-radius: 3%;
    color: #0f0f0f;
}

.color-box {
    width: 25px;
    height: 25px;
    margin: 2px;
    display: inline-block;
    left: 5px;
    top: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 3%;
    color: #0f0f0f;
}

md-list-item:hover {
    background-color: lightgrey;
}
md-list-item{
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

md-list{
    margin-bottom: 40px;
}

md-card{
    width: 90%;
    margin: auto;
}

