<div ng-init="init()" id="taskList-component">
    <md-card>
        <md-card-title>
            <md-card-title-text layout-align="end center">
                <span class="md-headline">{{taskList.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div id="categories-md-list">
                <md-list ng-cloak id="taskList-md-list">
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="task in taskList.tasks" class="noright" >
                        <md-divider></md-divider>
                        <p>{{ task.title }}</p>
                        {{task.priority}}
                        <p>{{ task.createdAt | date: 'dd/MM/yyyy' }}</p>
                        <md-icon class="md-secondary" ng-click="" aria-label="Chat" >edit</md-icon>
                        <md-icon class="md-secondary md-hue-3" ng-click="">delete</md-icon>
                    </md-list-item>
                </md-list>
                <md-button class="md-raised md-primary" ng-click="createTask($event)">Create task</md-button>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
    </md-card>
</div>