<div id="about-component">

    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Vinicius Alencar Agostini</span>
                <span class="md-subhead">Computer Science student</span>
            </md-card-title-text>
            <md-card-title-media>
                <div class="md-media-lg card-media">
                    <img src="https://pbs.twimg.com/profile_images/529581457262772224/6h9LNAii.jpeg" alt="">
                </div>
            </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ng-href="https://github.com/viniagostini">Github</md-button>
            <md-button ng-href="https://www.facebook.com/viniciusaagostini">Facebook</md-button>
        </md-card-actions>
    </md-card>

</div>