<div ng-init="init()" id="categories-component">
    <md-card>
        <md-card-title>
            <md-card-title-text layout-align="end center">
                <span class="md-headline">Categories</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div id="categories-md-list">
                <md-list ng-cloak>
                    <md-divider></md-divider>
                    <md-list-item ng-repeat="category in taskCategories" class="noright">
                        <md-divider></md-divider>
                        <p>{{ category.name }}</p>
                        <div class="md-avatar color-box" md-colors="{background: '{{category.color}}'}"></div>
                        <md-icon class="md-secondary" ng-click="editTaskCategory($event, category)" aria-label="Chat" >edit</md-icon>
                        <md-icon class="md-secondary md-hue-3"   ng-click="deleteTaskCategory(category.id)">delete</md-icon>
                    </md-list-item>
                </md-list>

                <md-button class="md-raised md-primary" ng-click="creaTaskCategory($event)">Create category</md-button>
            </div>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
        </md-card-actions>
    </md-card>
</div>

