<div ng-cloak>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                style="height: 100%; position: fixed; margin-top: 64px;"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4" >

            <md-toolbar class="md-hue-5">
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>
            <md-content layout-padding role="navigation">
                <md-list layout="column" style="height: 80%">
                    <md-button ui-sref="tasklist" style="width: 100%; text-align: left">
                        <p><md-icon>assignment</md-icon>Task List</p>
                    </md-button>

                    <md-button ui-sref="taskcategory" style="width: 100%;text-align: left;">
                        <p><md-icon>bookmark</md-icon>Categories</p>
                    </md-button>

                    <md-divider></md-divider>

                    <md-button ui-sref="about" style="width: 100%;text-align: left;">
                        <p><md-icon>person</md-icon>About</p>
                    </md-button>

                </md-list>
            </md-content>

        </md-sidenav>

    </section>

</div>