<div ng-cloak>
    <section layout="row" flex>
        <md-sidenav
                class="md-sidenav-left"
                style="height: 100%; position: fixed; margin-top: 64px"
                md-component-id="left"
                md-is-locked-open="$mdMedia('gt-md')"
                md-whiteframe="4">

            <md-toolbar class="md-hue-5">
                <h1 class="md-toolbar-tools">Menu</h1>
            </md-toolbar>
            <md-content layout-padding >
                <md-button ng-click="close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>

        </md-sidenav>

    </section>

</div>