@media screen and (min-width: 480px){
    .sidenav{
        width: 0%;
    }
    .component{
        width: 100%;
    }
}

@media screen and (min-width: 1280px){
    .sidenav{
        width: 21%;
    }
    .component{
        width: 79%;
    }
}
.component{
    margin-top: 64px;
    min-width: 842px;
    background-color: cadetblue;
    height: 100%;
}
